/* Styles implemented here will permeate throughout the app  */
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/* LAYOUT */

.page-container {
  margin-inline: 2rem;
  margin-top: 1rem;
}

/* FONTS */
.page-title {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.username-sm {
  font-size: 0.8rem;
  margin: 0;
  padding-top: 0.5rem;
}

.chat-preview {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
}

/* PROFILE PICTURES */
.pfp-sm {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* BLOCKS */

.chatroom-block {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  transition: all ease-in;
  /* border: 1px black solid; */
}
.chatroom-block:hover {
  background-color: rgb(248 250 252);
}

.chatroom-block_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  cursor: pointer;
}
