/* Styles implemented here will permeate throughout the app  */

/* VARIABLES */

:root {
  --color-white: #fafbf4;
  --color-sky-blue: #afd8f2;
  --color-sky-blue-alt: #93b9d1;
  --color-cornflower-blue: #00a0f3;
  --color-dark-blue: #000066;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 100vw;
  margin-block: 0.5rem;
}

::-webkit-scrollbar {
  width: 5px;
}

hr {
  margin: 0;
}

/* FONTS */

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.page-title {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.username-sm {
  font-size: 0.8rem;
  margin: 0;
  padding-top: 0.5rem;
}

.chat-preview,
.chat-preview-unread {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
}
.chat-preview-unread {
  font-weight: 800;
}

/* LABELS */
.page-label {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-cornflower-blue);
  text-decoration: none;
}

/* BUTTONS */

.create-thread-btn {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  opacity: 0.8;
  transition: all 0.3s ease-in;
}
.create-thread-btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.itinerary-btn {
  margin: 0.5rem;
}
/* LAYOUT */

.page-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  /* margin-inline: 2rem;
  margin-top: 1rem; */
  padding-inline: 2rem;
  padding-top: 1rem;
  overflow: hidden;
}

.spacer {
  height: 4rem;
}
/* HEADERS */

.page-header-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.chats-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.chats-header > h1 {
  margin: 0;
}

/* PROFILE PICTURES */
.pfp-sm {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-shrink: 0;
}
.pfp-lg {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-shrink: 0;
}

.pfp-l {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-shrink: 0;
}

/* BLOCKS */

.chatroom-block {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  transition: all ease-in;
  /* border: 1px black solid; */
}
.chatroom-block:hover {
  background-color: rgb(248 250 252);
}

.chatroom-block_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  cursor: pointer;
}

/* FORMS */

.welcome-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.img-preview-placeholder {
  width: 100%;
  aspect-ratio: 4/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-sky-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
}

.start-end-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.date-input {
  width: 45%;
}

.btn-submit-form {
  background-color: var(--color-sky-blue);
  color: var(--color-white);
  font-weight: 500;
  border-radius: 40px;
  width: 100%;
}
.btn-submit-form:focus,
.btn-submit-form:hover {
  background-color: var(--color-sky-blue-alt);
}

#file-upload,
#file-upload-multiple,
#chat-image-upload {
  display: none;
}

.preview-img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

/* Form for Chat */

.send-message-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  width: 95%;
  border-radius: 35px;
  background-color: #d9d9d9;
  gap: 1rem;
}

.send-message-bar > input {
  flex: 1;
}

.send-message-bar > input,
.send-message-bar > button {
  background-color: #d9d9d9;
  outline: none;
  border: none;
  font-weight: 600;
}

.message-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
.send-message-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.message-img-preview-container {
  width: 40%;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  overflow: hidden;
}

/* CHAT */
.message-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  flex: 1;
  overflow-y: scroll;
  /* overflow-anchor: none; */
  /* height: calc(100dvh - 4rem - 4rem); */
}

.message-bubble > p {
  margin: 0;
}
.message-bubble {
  /* background-color: rgba(175, 216, 242, 0.7); */
  color: var(--color-white);

  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.bubble-right {
  margin-right: auto;
  border-radius: 15px 15px 15px 0;
  box-shadow: -17px 10px 54px -17px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: -17px 10px 54px -17px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: -17px 10px 54px -17px rgba(0, 0, 0, 0.74);
  background-color: var(--color-dark-blue);
}
.bubble-left {
  margin-left: auto;
  border-radius: 15px 15px 0 15px;
  box-shadow: 14px 10px 54px -17px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 14px 10px 54px -17px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 14px 10px 54px -17px rgba(0, 0, 0, 0.74);
  background-color: var(--color-cornflower-blue);
}

.message-img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/* CAROUSEL */

.carousel-img,
.carousel-inner {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.slider-container {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  border-radius: 5px;
  box-shadow: 2px 4px 98px -22px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 4px 98px -22px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 4px 98px -22px rgba(0, 0, 0, 0.6);
}

.slide-style {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform ease-in;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in;
  z-index: 1;
}

.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}
.remove-img {
  z-index: 10;
  top: 0;
  left: 0;
  margin: 0.2em;
}

/* dropdown */
.dropdown-package {
  z-index: 10;
}

/* Notifications */

.notification-container {
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 600px;
}

.notification-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-item {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.notification-item:hover {
  background-color: #f56060;
}

.notification-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  margin-left: 0.5em;
  vertical-align: super;
}

.notification-link {
  text-decoration: none;
  color: #003e81;
  display: block;
}

.viewed {
  color: #999;
}

.not-viewed {
  font-weight: bold;
}

.hr-separator {
  border: none;
  height: 1px;
  background-color: #eee;
  margin: 10px 0;
}

/* THREADS */
.main-thread {
  margin: 0.5rem;
  border: 1px rgb(223, 223, 223) solid;
}

.GeoAlt {
  color: red;
}

.card-header {
  background-color: #1d4886;
  color: white;
  font-weight: 400;
}

.card-title {
  font-weight: 600;
}

.card-footer {
  background-color: #1d4886;
  color: white;
}

.thread-username {
  color: #080602;
  background-color: #fcb130;
  border-radius: 40px;
  padding: 5px 20px;
}

/* PROFILE PAGE */

.personcircle {
  color: #1d4886;
}

.profilepage-main {
  box-shadow: 0px 0px 20px #d3d3d3;
  margin: 0.5rem;
  padding: 0.5rem;
}

.profilepage-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.profilepage-username {
  text-decoration: underline;
  text-decoration-color: #fcb130;
  text-decoration-thickness: 3px;
  font-weight: 400;
}

.profilepage-bio {
  text-align: center;
}

.profilepage-friends-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 0.5rem;
}

.profilepage-friends {
  display: flex;
  justify-content: center;
}

/* THREAT CONTENTS */

.tc-card-main {
  margin: 1%;
  max-height: 60vh;
  max-width: 90vw;
  color: black;
}

.tc-card-img {
  color: black;
  opacity: 0.5;
  backdrop-filter: blur(10px);
}

.tc-time {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

/* SEARCH PAGE */
.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

.search-bar {
  border-radius: 40px;
  padding: 0.5rem;
  display: flex;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-btn {
  margin-left: auto;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 25rem;
}

.sr-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3px;
  padding: 3px;
  margin: 6px;
}

.sr-thread {
  color: #ffffff;
  background-color: #1d4886;
  border-radius: 40px;
  padding: 5px 20px;
}

.sr-threadcontent {
  color: #ffffff;
  background-color: #1d8650;
  border-radius: 40px;
  padding: 5px 20px;
}

.sr-p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.airthread-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.mainpage-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
